@charset "UTF-8";
/*
*Default ----------------------------------------------------------------
*/
/* line 3, ../sass/basic.scss */
body {
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.085rem;
  color: #707070;
}
@media screen and (max-width: 576px) {
  /* line 3, ../sass/basic.scss */
  body {
    font-size: 15px;
  }
}
/* line 13, ../sass/basic.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 17, ../sass/basic.scss */
a {
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}
/* line 19, ../sass/basic.scss */
a:hover, a:active {
  outline: none;
  text-decoration: none;
}

/* line 24, ../sass/basic.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 28, ../sass/basic.scss */
h1, h2, h3, h4, h5, h6 {
  color: #433734;
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.5;
}

/* line 36, ../sass/basic.scss */
button, input, select, textarea {
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

/* line 40, ../sass/basic.scss */
select, textarea {
  width: 100%;
  border: 1px solid #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #433734;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 47, ../sass/basic.scss */
select.custom-select, textarea.custom-select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 50, ../sass/basic.scss */
select:focus, select:hover, textarea:focus, textarea:hover {
  color: #F08519;
}

/* line 54, ../sass/basic.scss */
.select-wrapper {
  position: relative;
}
/* line 56, ../sass/basic.scss */
.select-wrapper .iconify {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 1.5rem;
  color: #fff;
}
/* line 63, ../sass/basic.scss */
.select-wrapper .cus-select {
  width: 100%;
  padding: 10px 15px;
  font-size: 1.15rem;
  color: #fff !important;
  font-weight: bold;
  background-color: #F08519;
}

/* line 100, ../sass/basic.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 105, ../sass/basic.scss */
.custom-control .custom-control-label {
  cursor: pointer;
}
/* line 107, ../sass/basic.scss */
.custom-control .custom-control-label:before {
  background-color: #e9e9e9;
  border-color: #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 112, ../sass/basic.scss */
.custom-control .custom-control-label:before, .custom-control .custom-control-label:after {
  top: 0.2rem;
}
/* line 118, ../sass/basic.scss */
.custom-control .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #F08519;
  border-color: #F08519;
}
/* line 124, ../sass/basic.scss */
.custom-control .custom-control-description {
  padding-top: 3px;
}
/* line 128, ../sass/basic.scss */
.custom-control.custom-radio:not(:last-of-type) {
  margin-bottom: 8px;
}
/* line 131, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-label {
  padding-left: 8px;
}
/* line 136, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:after {
  background: none;
}

/* line 143, ../sass/basic.scss */
::-webkit-selection {
  color: #433734;
  background: #FFF462;
}

/* line 147, ../sass/basic.scss */
::-moz-selection {
  color: #433734;
  background: #FFF462;
}

/* line 151, ../sass/basic.scss */
::selection {
  color: #433734;
  background: #FFF462;
}

/* line 3, ../sass/header.scss */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
/* line 9, ../sass/header.scss */
#header .navbar {
  padding: 35px 0 20px;
}
/* line 11, ../sass/header.scss */
#header .navbar ul {
  list-style: none;
}
/* line 14, ../sass/header.scss */
#header .navbar ul.navbar-nav li.sub-menu-parent .sub-menu {
  display: none;
}
/* line 19, ../sass/header.scss */
#header .navbar .logo {
  display: block;
  z-index: 1001;
}
/* line 22, ../sass/header.scss */
#header .navbar .logo a {
  display: block;
}
/* line 24, ../sass/header.scss */
#header .navbar .logo a img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  height: 80px;
}
/* line 31, ../sass/header.scss */
#header.fixed {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
}
/* line 35, ../sass/header.scss */
#header.fixed .navbar {
  padding: 10px 0;
}
/* line 39, ../sass/header.scss */
#header.fixed .navbar .logo a img {
  height: 50px;
}
@media screen and (min-width: 992px) {
  /* line 49, ../sass/header.scss */
  #header .navbar .logo a img {
    height: 107px;
  }
  /* line 58, ../sass/header.scss */
  #header.fixed .navbar .logo a img {
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  /* line 71, ../sass/header.scss */
  #header .navbar .navbar-nav li.sub-menu-parent .iconify {
    display: none;
  }
  /* line 75, ../sass/header.scss */
  #header .navbar .navbar-nav li a:not(.icon) {
    position: relative;
    color: #433734;
    font-size: 18px;
  }
  /* line 79, ../sass/header.scss */
  #header .navbar .navbar-nav li a:not(.icon):after {
    content: "";
    display: block;
    border-bottom: solid 2px rgba(67, 55, 52, 0.75);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform 250ms ease-in-out;
    -moz-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    opacity: 0.75;
  }
  /* line 90, ../sass/header.scss */
  #header .navbar .navbar-nav li:hover a:after, #header .navbar .navbar-nav li:active a:after {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -moz-transform: transform-origin(0%, 50%);
    -o-transform: transform-origin(0%, 50%);
    -ms-transform: transform-origin(0%, 50%);
    -webkit-transform: transform-origin(0%, 50%);
    transform: transform-origin(0%, 50%);
  }
  /* line 97, ../sass/header.scss */
  #header .navbar .navbar-nav li.active a {
    color: #F08519;
    font-weight: bold;
  }
  /* line 100, ../sass/header.scss */
  #header .navbar .navbar-nav li.active a:after {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-bottom: #F08519 dashed 2px;
  }
  /* line 108, ../sass/header.scss */
  #header .navbar .sec-info {
    display: none;
  }
  /* line 113, ../sass/header.scss */
  #header.fixed .navbar-nav li a:not(.icon) {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  /* line 119, ../sass/header.scss */
  #header .navbar {
    padding: 20px 15px;
  }
  /* line 121, ../sass/header.scss */
  #header .navbar ul {
    position: relative;
    padding: 0;
    margin: 0;
  }
  /* line 126, ../sass/header.scss */
  #header .navbar ul.sec-info > li {
    width: 80%;
    margin-left: auto;
    padding: 10px 0;
    text-align: right;
  }
  /* line 131, ../sass/header.scss */
  #header .navbar ul.sec-info > li .soc {
    padding-bottom: 15px;
  }
  /* line 133, ../sass/header.scss */
  #header .navbar ul.sec-info > li .soc li {
    display: inline-block;
    padding: 0 8px;
  }
  /* line 136, ../sass/header.scss */
  #header .navbar ul.sec-info > li .soc li .iconify {
    font-size: 2rem;
    color: #fff;
  }
  /* line 143, ../sass/header.scss */
  #header .navbar ul.sec-info > li.links a {
    padding: 0 8px;
    color: #707070;
  }
  /* line 151, ../sass/header.scss */
  #header .navbar .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(215, 122, 28, 0.95);
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  /* line 165, ../sass/header.scss */
  #header .navbar .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
    z-index: 999;
  }
  /* line 170, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav {
    position: relative;
    padding-top: 76px;
    padding-bottom: 2rem;
  }
  /* line 174, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li {
    width: 100%;
    margin-left: auto;
    line-height: 40px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    text-align: right;
  }
  /* line 180, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a {
    display: inline-block;
    font-size: 1.15rem;
    color: #fff;
  }
  /* line 184, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a.nav-link {
    width: 100%;
    padding: 0.5rem 0.25rem;
    padding-right: 40px;
    font-weight: bolder;
    letter-spacing: 0.5rem;
  }
  /* line 191, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a.icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    color: #fff;
    text-align: center;
  }
  /* line 200, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a.icon .iconify {
    margin-top: 20px;
  }
  /* line 205, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  /* line 208, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent a.nav-link {
    width: calc(100% - 40px);
  }
  /* line 211, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  /* line 226, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li {
    width: 100%;
    border: none;
  }
  /* line 229, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li a {
    display: block;
    padding: 0.5rem;
  }
  /* line 233, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li:hover {
    background-color: #F08519;
    border-color: transparent;
  }
  /* line 236, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li:hover a {
    color: #fff;
  }
  /* line 244, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:hover a.nav-link {
    color: #f39e49;
  }
  /* line 249, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:first-of-type .nav-link {
    padding-top: 0;
  }
  /* line 257, ../sass/header.scss */
  #header.fixed {
    background-color: transparent;
    box-shadow: none;
  }
  /* line 260, ../sass/header.scss */
  #header.fixed .navbar {
    padding: 8px 15px;
  }
}

/* line 3, ../sass/footer.scss */
#footer {
  position: relative;
  padding: 0 15px 15px;
  font-size: 0.85rem;
  text-align: center;
}
/* line 8, ../sass/footer.scss */
#footer .info {
  position: relative;
  padding: 40px 0 30px;
  background-color: #333;
}
/* line 12, ../sass/footer.scss */
#footer .info .logo {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 35px;
}
/* line 16, ../sass/footer.scss */
#footer .info .logo img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  /* line 12, ../sass/footer.scss */
  #footer .info .logo {
    max-width: 220px;
  }
}
@media screen and (max-width: 767px) {
  /* line 12, ../sass/footer.scss */
  #footer .info .logo {
    display: none;
  }
}
/* line 27, ../sass/footer.scss */
#footer .info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 31, ../sass/footer.scss */
#footer .info ul li {
  display: inline-block;
}
/* line 33, ../sass/footer.scss */
#footer .info ul li a {
  padding: 0 10px;
  color: #CECECE;
}
/* line 36, ../sass/footer.scss */
#footer .info ul li a:hover, #footer .info ul li a:focus {
  color: #F08519;
}
/* line 41, ../sass/footer.scss */
#footer .info ul.webmap {
  margin-bottom: 35px;
}
/* line 45, ../sass/footer.scss */
#footer .info ul.soc li a {
  color: #F08519;
}
/* line 47, ../sass/footer.scss */
#footer .info ul.soc li a .iconify {
  font-size: 1.75rem;
}
/* line 50, ../sass/footer.scss */
#footer .info ul.soc li a:hover, #footer .info ul.soc li a:focus {
  opacity: 0.75;
}
/* line 57, ../sass/footer.scss */
#footer .copyright {
  padding: 15px 0;
  color: #999;
  background-color: #222;
}
/* line 61, ../sass/footer.scss */
#footer .copyright p {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  /* line 3, ../sass/footer.scss */
  #footer {
    display: none;
  }
}

/* line 3, ../sass/button.scss */
.btn {
  min-width: 150px;
  padding: 7px 18px;
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}
/* line 13, ../sass/button.scss */
.btn.btn-sm {
  min-width: 90px;
  padding: 5px 15px;
}
/* line 17, ../sass/button.scss */
.btn:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 27, ../sass/button.scss */
.btn:hover {
  text-decoration: none;
  outline: none;
}
/* line 31, ../sass/button.scss */
.btn:active {
  -moz-transform: scale(0.96);
  -o-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}

/* 主要：確認/執行鍵 */
/* line 36, ../sass/button.scss */
.btn-primary, .btn-primary.disabled {
  background-color: #F08519;
  border-color: #F08519;
}
/* line 39, ../sass/button.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary.disabled:hover, .btn-primary.disabled:active {
  background-color: #F9C158;
  border-color: #F9C158;
}

/* line 44, ../sass/button.scss */
.btn-primary.disabled {
  cursor: not-allowed;
}

/* 次要：取消/返回鍵 */
/* line 48, ../sass/button.scss */
.btn-light {
  background-color: rgba(124, 124, 124, 0.05);
  border-color: #e9e9e9;
  color: #7C7C7C;
}
/* line 52, ../sass/button.scss */
.btn-light:hover, .btn-light:active {
  background-color: rgba(124, 124, 124, 0.1);
  border-color: rgba(124, 124, 124, 0.1);
  color: #433734;
}

/* 次要：選項/執行鍵 */
/* line 59, ../sass/button.scss */
.btn-outline {
  position: relative;
  background-color: #fff;
  border-color: #F08519;
  color: #F08519;
  border-width: 3px;
  overflow: hidden;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 67, ../sass/button.scss */
.btn-outline:before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: -42px;
  width: 42px;
  height: 42px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
  background-color: #F08519;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
/* line 80, ../sass/button.scss */
.btn-outline:hover, .btn-outline:active {
  background-color: transparent;
  border-color: #F08519;
  color: #fff;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
/* line 85, ../sass/button.scss */
.btn-outline:hover:before, .btn-outline:active:before {
  width: 150%;
}

/* line 90, ../sass/button.scss */
.btn-fb {
  background-color: #3b5998;
  color: #fff !important;
}
/* line 93, ../sass/button.scss */
.btn-fb:hover {
  background-color: #2C52A5;
}

/* line 5, ../sass/content.scss */
#page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (max-width: 767px) {
  /* line 5, ../sass/content.scss */
  #page {
    margin-bottom: 45px;
  }
}

/* line 13, ../sass/content.scss */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 333;
}

/* line 24, ../sass/content.scss */
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -250px;
  width: 250px;
  padding: 0.75rem;
  background: #fff;
  overflow-y: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 36, ../sass/content.scss */
#sidebar.active {
  right: 0;
}
/* line 39, ../sass/content.scss */
#sidebar #dismiss {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #999;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 46, ../sass/content.scss */
#sidebar #dismiss .iconify {
  font-size: 1.5rem;
}
/* line 49, ../sass/content.scss */
#sidebar #dismiss:hover {
  color: #F9C158;
}
/* line 53, ../sass/content.scss */
#sidebar .sidebar-header {
  padding: 25px 5px 15px;
  border-bottom: 1px solid rgba(124, 124, 124, 0.5);
}
/* line 56, ../sass/content.scss */
#sidebar .sidebar-header h4 {
  margin-bottom: 0;
}
/* line 60, ../sass/content.scss */
#sidebar .cart-row {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(124, 124, 124, 0.5);
}
/* line 66, ../sass/content.scss */
#sidebar .cart-row li {
  display: block;
  list-style: none;
  float: left;
}
/* line 70, ../sass/content.scss */
#sidebar .cart-row li.cart-item {
  width: auto;
}
/* line 72, ../sass/content.scss */
#sidebar .cart-row li.cart-item .pro-img {
  display: block;
  width: 50px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
/* line 79, ../sass/content.scss */
#sidebar .cart-row li.cart-item .pro-img:before {
  display: block;
  content: "";
  padding-bottom: 75%;
}
/* line 86, ../sass/content.scss */
#sidebar .cart-row li.description {
  width: 60%;
  padding-left: 10px;
}
/* line 89, ../sass/content.scss */
#sidebar .cart-row li.description .name {
  font-size: 0.95rem;
  color: #433734;
}
/* line 94, ../sass/content.scss */
#sidebar .cart-row li.description .amount:before {
  display: inline-block;
  content: "x";
  padding: 0 0.25rem;
  opacity: 0.8;
}
/* line 102, ../sass/content.scss */
#sidebar .cart-row li.description .hp-txt .hint {
  color: #F08519;
}
/* line 105, ../sass/content.scss */
#sidebar .cart-row li.description .hp-txt .price {
  font-weight: normal;
  font-size: 1rem;
}
/* line 111, ../sass/content.scss */
#sidebar .cart-row li.del {
  width: 10%;
  float: right;
  color: rgba(124, 124, 124, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 116, ../sass/content.scss */
#sidebar .cart-row li.del .iconify {
  font-size: 1rem;
  cursor: pointer;
}
/* line 120, ../sass/content.scss */
#sidebar .cart-row li.del:hover, #sidebar .cart-row li.del:active {
  color: rgba(124, 124, 124, 0.8);
}
/* line 126, ../sass/content.scss */
#sidebar .hint-check {
  margin-bottom: 15px;
  text-align: center;
  line-height: 1.6;
}
/* line 130, ../sass/content.scss */
#sidebar .hint-check .pieces {
  padding: 0 0.25rem;
}
/* line 132, ../sass/content.scss */
#sidebar .hint-check .pieces:after {
  display: inline-block;
  content: "件";
  padding-left: 0.15rem;
  opacity: 0.8;
  font-size: 0.9rem;
}

/* line 143, ../sass/content.scss */
.title {
  font-weight: bold;
  letter-spacing: 0.15rem;
}

@keyframes fadeInRight {
  0% {
    left: 20%;
  }
  100% {
    left: 0;
  }
}
/* line 157, ../sass/content.scss */
.img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 162, ../sass/content.scss */
.img:before {
  content: "";
  display: block;
  padding-bottom: 66.67%;
}

/* line 168, ../sass/content.scss */
section:not(#info) {
  padding: 30px 0 80px;
}
@media screen and (max-width: 767px) {
  /* line 168, ../sass/content.scss */
  section:not(#info) {
    padding: 30px 0 40px;
  }
}

/* line 174, ../sass/content.scss */
#main {
  position: relative;
}
/* line 176, ../sass/content.scss */
#main section {
  position: relative;
}
/* line 179, ../sass/content.scss */
#main .title-set {
  position: relative;
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 185, ../sass/content.scss */
#main .title-set .title {
  position: relative;
  padding-bottom: 15px;
  font-size: 2.25rem;
  letter-spacing: 0.5rem;
}
/* line 190, ../sass/content.scss */
#main .title-set .title:before {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FFF462;
}
/* line 199, ../sass/content.scss */
#main .title-set .title:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  width: 80px;
  height: 5px;
  background-color: #F9C158;
  text-align: center;
}
@media screen and (max-width: 575px) {
  /* line 179, ../sass/content.scss */
  #main .title-set {
    width: 225px;
  }
  /* line 214, ../sass/content.scss */
  #main .title-set .title {
    font-size: 2rem;
  }
}
/* line 220, ../sass/content.scss */
#main #info .img:before {
  padding-bottom: 30%;
}
/* line 223, ../sass/content.scss */
#main #info .info {
  background-color: #fff;
}
/* line 225, ../sass/content.scss */
#main #info .info .text {
  padding: 50px 35px;
  border-top: 5px solid #F08519;
  border-bottom: 5px solid #F08519;
}
/* line 230, ../sass/content.scss */
#main #info .info .text .store h6 {
  margin-bottom: 8px;
}
/* line 233, ../sass/content.scss */
#main #info .info .text .store ul {
  padding: 0;
  margin: 0;
}
/* line 236, ../sass/content.scss */
#main #info .info .text .store ul li {
  display: inline-block;
  padding-bottom: 8px;
  list-style: none;
}
/* line 240, ../sass/content.scss */
#main #info .info .text .store ul li span {
  position: absolute;
}
/* line 242, ../sass/content.scss */
#main #info .info .text .store ul li span .iconify {
  text-align: center;
  font-size: 1.25rem;
  color: #F08519;
}
/* line 248, ../sass/content.scss */
#main #info .info .text .store ul li p {
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  color: #433734;
}
/* line 253, ../sass/content.scss */
#main #info .info .text .store ul li p a {
  color: #433734;
  border-bottom: 1px dotted #F9C158;
}
/* line 258, ../sass/content.scss */
#main #info .info .text .store ul li:not(:last-of-type) {
  padding-right: 20px;
}
/* line 263, ../sass/content.scss */
#main #info .info .text .store:not(:last-of-type) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  /* line 270, ../sass/content.scss */
  #main #info .info {
    padding-left: 15px;
  }
}
@media screen and (max-width: 767px) {
  /* line 276, ../sass/content.scss */
  #main #info .info .text {
    padding: 20px 25px;
  }
}
/* line 282, ../sass/content.scss */
#main .fixed-bg {
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 15px);
  background: url(../images/banner/_81N1867.jpg) no-repeat 0 fixed;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}
/* line 292, ../sass/content.scss */
#main .fixed-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  background: linear-gradient(to right, white 59%, rgba(255, 255, 255, 0.59) 100%);
}
@media screen and (max-width: 767px) {
  /* line 282, ../sass/content.scss */
  #main .fixed-bg {
    display: none;
  }
}
/* line 307, ../sass/content.scss */
#main .breadcrumb {
  padding: 0;
  margin: 0;
  background: transparent;
}
/* line 312, ../sass/content.scss */
#main .breadcrumb li:before {
  padding-right: 0.15rem;
  color: #FECD5D !important;
}
/* line 316, ../sass/content.scss */
#main .breadcrumb li a {
  color: #7C7C7C;
  font-size: 0.85rem;
}
/* line 321, ../sass/content.scss */
#main .breadcrumb li.active a {
  color: #433734;
}
@media screen and (max-width: 767px) {
  /* line 307, ../sass/content.scss */
  #main .breadcrumb {
    padding: 0 8px;
  }
}
/* line 330, ../sass/content.scss */
#main .pagination {
  margin-top: 1.5rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 333, ../sass/content.scss */
#main .pagination li {
  counter-increment: pagination;
}
/* line 335, ../sass/content.scss */
#main .pagination li a {
  position: relative;
  color: #F08519;
  background-color: transparent;
  border: none;
  font-size: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 342, ../sass/content.scss */
#main .pagination li a:after {
  content: "";
  display: block;
  border-bottom: solid 2px;
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}
/* line 349, ../sass/content.scss */
#main .pagination li a.rotate {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 354, ../sass/content.scss */
#main .pagination li:hover a, #main .pagination li:active a {
  color: #F9C158;
}
/* line 356, ../sass/content.scss */
#main .pagination li:hover a:after, #main .pagination li:active a:after {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transform: transform-origin(0%, 50%);
  -o-transform: transform-origin(0%, 50%);
  -ms-transform: transform-origin(0%, 50%);
  -webkit-transform: transform-origin(0%, 50%);
  transform: transform-origin(0%, 50%);
}
/* line 363, ../sass/content.scss */
#main .pagination li.active a {
  color: #F9C158;
  font-weight: bold;
}
/* line 369, ../sass/content.scss */
#main .pagination li:first-child a, #main .pagination li:last-child a {
  display: inline-block;
}
/* line 373, ../sass/content.scss */
#main .pagination li:nth-child(2) {
  counter-reset: pagination;
}
/* line 376, ../sass/content.scss */
#main .pagination li:nth-last-child(2) {
  display: inline-block;
}
/* line 378, ../sass/content.scss */
#main .pagination li:nth-last-child(2) a {
  display: inline-block;
}
/* line 385, ../sass/content.scss */
#main .content img {
  width: 100%;
  height: auto;
}
/* line 390, ../sass/content.scss */
#main .more {
  color: #F08519;
  font-size: 0.85rem;
  border-bottom: 1px solid #F08519;
  text-transform: capitalize;
}
/* line 395, ../sass/content.scss */
#main .more .iconify {
  margin-left: 5px;
}
/* line 399, ../sass/content.scss */
#main .red {
  color: #E03845;
}
/* line 402, ../sass/content.scss */
#main .italic {
  font-style: italic;
}

/* line 408, ../sass/content.scss */
.slider .slide {
  text-align: center;
}
/* line 411, ../sass/content.scss */
.slider .slick-next, .slider .slick-prev {
  top: 102%;
  width: 50px;
  height: 50px;
  z-index: 59;
}
/* line 416, ../sass/content.scss */
.slider .slick-next:before, .slider .slick-prev:before {
  color: #F9C158;
}
/* line 420, ../sass/content.scss */
.slider .slick-next {
  right: -8px;
}
/* line 423, ../sass/content.scss */
.slider .slick-prev {
  left: calc(100% - 95px);
}
/* line 426, ../sass/content.scss */
.slider .slick-dots {
  text-align: left;
}
/* line 428, ../sass/content.scss */
.slider .slick-dots li {
  width: 25px;
  opacity: 0.3;
}
/* line 431, ../sass/content.scss */
.slider .slick-dots li button {
  width: 100%;
  height: 5px;
  padding: 0;
  background-color: #707070;
}
/* line 436, ../sass/content.scss */
.slider .slick-dots li button:before {
  display: none;
}
/* line 440, ../sass/content.scss */
.slider .slick-dots li.slick-active {
  opacity: 1;
}
/* line 442, ../sass/content.scss */
.slider .slick-dots li.slick-active button {
  background-color: #F9C158;
}

/* line 450, ../sass/content.scss */
.gotosp, .gototop {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  z-index: 89;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
}
/* line 461, ../sass/content.scss */
.gotosp a, .gototop a {
  display: block;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: #fff;
}
/* line 467, ../sass/content.scss */
.gotosp a .iconify, .gototop a .iconify {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 2rem;
}
/* line 473, ../sass/content.scss */
.gotosp a span, .gototop a span {
  display: block;
  font-size: 0.8rem;
}
/* line 479, ../sass/content.scss */
.gotosp:hover a, .gotosp:active a, .gototop:hover a, .gototop:active a {
  opacity: 1;
  text-decoration: none;
}

/* line 485, ../sass/content.scss */
.gotosp {
  bottom: 130px;
  background-color: #F08519;
}

/* line 489, ../sass/content.scss */
.gototop {
  bottom: 70px;
  opacity: 0;
  background-color: #F9C158;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 495, ../sass/content.scss */
.gototop.active {
  opacity: 0.75;
  visibility: visible;
  cursor: default;
}
/* line 500, ../sass/content.scss */
.gototop:hover, .gototop:active {
  opacity: 0.9;
}

/* line 504, ../sass/content.scss */
#mob-btn {
  display: none;
}
/* line 507, ../sass/content.scss */
#mob-btn .navbar li .menu {
  display: none;
  padding: 0;
  z-index: 99;
  cursor: pointer;
}
/* line 512, ../sass/content.scss */
#mob-btn .navbar li .menu .burger {
  position: relative;
  width: 20px;
  height: 29px;
  margin: 0 auto;
  z-index: 1001;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 520, ../sass/content.scss */
#mob-btn .navbar li .menu .burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #433734;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 531, ../sass/content.scss */
#mob-btn .navbar li .menu .burger span:nth-child(1) {
  top: 8px;
}
/* line 534, ../sass/content.scss */
#mob-btn .navbar li .menu .burger span:nth-child(2) {
  top: 14px;
}
/* line 537, ../sass/content.scss */
#mob-btn .navbar li .menu .burger span:nth-child(3) {
  top: 20px;
}
/* line 543, ../sass/content.scss */
#mob-btn .navbar li .menu .active span {
  background: #F08519;
}
/* line 545, ../sass/content.scss */
#mob-btn .navbar li .menu .active span:nth-child(1) {
  top: 18px;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 549, ../sass/content.scss */
#mob-btn .navbar li .menu .active span:nth-child(2) {
  opacity: 0;
  left: -200px;
}
/* line 553, ../sass/content.scss */
#mob-btn .navbar li .menu .active span:nth-child(3) {
  top: 18px;
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (min-width: 1680px) {
  /* line 563, ../sass/content.scss */
  .gotosp, .gototop {
    right: 69px;
  }
}
@media screen and (max-width: 767px) {
  /* line 568, ../sass/content.scss */
  .gotosp, .gototop {
    display: none;
  }

  /* line 571, ../sass/content.scss */
  #mob-btn {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: #F9C158;
    z-index: 101;
  }
  /* line 580, ../sass/content.scss */
  #mob-btn .navbar {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  /* line 584, ../sass/content.scss */
  #mob-btn .navbar li {
    width: 25%;
    height: 45px;
  }
  /* line 587, ../sass/content.scss */
  #mob-btn .navbar li a {
    position: relative;
    display: block;
    padding: 7px 15px 1px;
    font-size: 12px;
    text-align: center;
    color: #433734;
  }
  /* line 594, ../sass/content.scss */
  #mob-btn .navbar li a .iconify {
    display: block;
    margin: 0 auto;
    margin-bottom: 2px;
    font-size: 1.25rem;
  }
  /* line 600, ../sass/content.scss */
  #mob-btn .navbar li a .dot {
    position: absolute;
    right: 25px;
    top: 3px;
    width: 23px;
    height: 22px;
    padding: 3px;
    padding-left: 4px;
    font-size: 12px;
    color: #fff;
    background-color: #E03845;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  /* line 614, ../sass/content.scss */
  #mob-btn .navbar li .menu {
    display: block;
    text-align: center;
  }
  /* line 617, ../sass/content.scss */
  #mob-btn .navbar li .menu span {
    display: block;
    font-size: 12px;
    color: #433734;
  }
}
@media screen and (max-width: 576px) {
  /* line 632, ../sass/content.scss */
  #mob-btn .navbar li a .dot {
    right: 12px;
  }
}
/* line 640, ../sass/content.scss */
.price {
  position: relative;
  font-weight: bold;
  font-family: "Noto Serif TC", serif;
  color: #E03845;
  letter-spacing: 0;
}
/* line 646, ../sass/content.scss */
.price:before {
  display: inline-block;
  content: "$";
  padding-right: 2px;
  font-size: 14px;
}
/* line 653, ../sass/content.scss */
.price.discount:before {
  content: "- $";
}

/* line 659, ../sass/content.scss */
.hp-txt {
  font-size: 0.85rem;
  color: #7C7C7C;
}

/* line 663, ../sass/content.scss */
.elink {
  color: #f4c51c;
}

/* line 11, ../sass/index.scss */
.index .slider {
  width: 100%;
  margin-bottom: 0;
}
/* line 14, ../sass/index.scss */
.index .slider .slick-track {
  overflow: hidden;
}
/* line 17, ../sass/index.scss */
.index .slider.sli-banner {
  padding: 15px 15px 0;
}
/* line 19, ../sass/index.scss */
.index .slider.sli-banner .caption {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  text-align: center;
}
/* line 27, ../sass/index.scss */
.index .slider.sli-banner .caption img {
  margin: 0 auto;
  margin-bottom: 30px;
}
/* line 31, ../sass/index.scss */
.index .slider.sli-banner .caption .text {
  color: #fff;
}
/* line 35, ../sass/index.scss */
.index .slider.sli-banner .slick-dots {
  width: calc(100% - 128px);
  bottom: 30px;
  right: 64px;
  text-align: right;
}
@media screen and (max-width: 360px) {
  /* line 43, ../sass/index.scss */
  .index .slider.sli-banner .caption {
    width: 55%;
  }
}
/* line 48, ../sass/index.scss */
.index #intro {
  padding: 95px 0 80px;
}
/* line 50, ../sass/index.scss */
.index #intro .text {
  text-align: center;
}
/* line 52, ../sass/index.scss */
.index #intro .text .context {
  margin: 50px 0;
}
/* line 54, ../sass/index.scss */
.index #intro .text .context p {
  margin-bottom: 0;
}
/* line 57, ../sass/index.scss */
.index #intro .text .context h4 {
  margin: 30px 0;
}
/* line 64, ../sass/index.scss */
.index #intro .imgs .img:before {
  padding-bottom: 100%;
}
/* line 68, ../sass/index.scss */
.index #intro .imgs .bottom {
  width: 66.6666%;
  height: 100%;
  padding-top: 50px;
}
/* line 72, ../sass/index.scss */
.index #intro .imgs .bottom .img {
  height: 100%;
}
/* line 76, ../sass/index.scss */
.index #intro .imgs .top {
  position: absolute;
  top: 0;
  right: 15px;
  width: calc(50% - 15px);
  height: calc(100% - 150px);
}
@media screen and (max-width: 767px) {
  /* line 48, ../sass/index.scss */
  .index #intro {
    padding: 55px 0 40px;
  }
  /* line 86, ../sass/index.scss */
  .index #intro .imgs {
    margin-top: 40px;
  }
  /* line 88, ../sass/index.scss */
  .index #intro .imgs .bottom {
    height: 450px;
  }
  /* line 91, ../sass/index.scss */
  .index #intro .imgs .top {
    height: 300px;
  }
}
@media screen and (max-width: 576px) {
  /* line 98, ../sass/index.scss */
  .index #intro .imgs .bottom {
    height: 350px;
  }
  /* line 101, ../sass/index.scss */
  .index #intro .imgs .top {
    height: 250px;
  }
}
@keyframes righttt {
  0% {
    left: 5px;
  }
  100% {
    left: -5px;
  }
}
/* line 115, ../sass/index.scss */
.index #products {
  padding: 30px 0 0;
}
/* line 117, ../sass/index.scss */
.index #products .title-set {
  top: 100px;
  z-index: 33;
}
/* line 120, ../sass/index.scss */
.index #products .title-set .title {
  text-align: left;
}
/* line 122, ../sass/index.scss */
.index #products .title-set .title:after {
  left: 5px;
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 126, ../sass/index.scss */
.index #products .title-set .title span {
  display: inline-block;
  width: calc(100% - 180px);
  text-align: right;
  font-size: 1rem;
}
/* line 131, ../sass/index.scss */
.index #products .title-set .title span a {
  color: #F08519;
}
/* line 133, ../sass/index.scss */
.index #products .title-set .title span a .iconify {
  position: relative;
  -webkit-animation: righttt 0.4s ease-in-out infinite alternate;
  -moz-animation: righttt 0.4s ease-in-out infinite alternate;
  -ms-animation: righttt 0.4s ease-in-out infinite alternate;
  animation: righttt 0.4s ease-in-out infinite alternate;
}
/* line 141, ../sass/index.scss */
.index #products .sli-pro {
  width: 100%;
}
/* line 143, ../sass/index.scss */
.index #products .sli-pro .slide {
  padding: 0 15px;
}
/* line 146, ../sass/index.scss */
.index #products .sli-pro .img {
  display: block;
}
/* line 148, ../sass/index.scss */
.index #products .sli-pro .img:before {
  padding-bottom: 100%;
}
@media screen and (max-width: 1200px) and (min-width: 576px) {
  /* line 154, ../sass/index.scss */
  .index #products .title-set {
    top: 50px;
  }
}
@media screen and (max-width: 575px) {
  /* line 159, ../sass/index.scss */
  .index #products .title-set {
    width: 300px;
  }
}
/* line 164, ../sass/index.scss */
.index #news {
  padding: 80px 0;
}
/* line 166, ../sass/index.scss */
.index #news .title-set {
  margin-bottom: 50px;
}
/* line 169, ../sass/index.scss */
.index #news ul {
  display: inline-block;
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #FFF462;
  list-style: none;
}
/* line 176, ../sass/index.scss */
.index #news ul li {
  display: block;
  float: left;
}
/* line 179, ../sass/index.scss */
.index #news ul li.img {
  width: 20%;
}
/* line 181, ../sass/index.scss */
.index #news ul li.img:before {
  padding-bottom: 100%;
}
/* line 185, ../sass/index.scss */
.index #news ul li.text {
  width: 80%;
  padding-left: 20px;
}
/* line 188, ../sass/index.scss */
.index #news ul li.text .date {
  display: block;
  margin-bottom: 5px;
  font-size: 0.85rem;
  color: #F9C158;
}
/* line 194, ../sass/index.scss */
.index #news ul li.text h6 {
  height: 45px;
  margin-bottom: 5px;
  line-height: 1.5;
  color: #433734;
}
/* line 201, ../sass/index.scss */
.index #news ul li .more {
  float: right;
}
/* line 206, ../sass/index.scss */
.index #news .btn.btn-outline {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  /* line 164, ../sass/index.scss */
  .index #news {
    padding: 80px 0 40px;
  }
}
@media screen and (max-width: 576px) {
  /* line 213, ../sass/index.scss */
  .index #news .btn.btn-outline {
    margin-top: 0;
  }
}
