@charset "UTF-8";
/*
*Default ----------------------------------------------------------------
*/
/* line 3, ../sass/basic.scss */
body {
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.085rem;
  color: #707070;
}
@media screen and (max-width: 576px) {
  /* line 3, ../sass/basic.scss */
  body {
    font-size: 15px;
  }
}
/* line 13, ../sass/basic.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 17, ../sass/basic.scss */
a {
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}
/* line 19, ../sass/basic.scss */
a:hover, a:active {
  outline: none;
  text-decoration: none;
}

/* line 24, ../sass/basic.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 28, ../sass/basic.scss */
h1, h2, h3, h4, h5, h6 {
  color: #433734;
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.5;
}

/* line 36, ../sass/basic.scss */
button, input, select, textarea {
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

/* line 40, ../sass/basic.scss */
select, textarea {
  width: 100%;
  border: 1px solid #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #433734;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 47, ../sass/basic.scss */
select.custom-select, textarea.custom-select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 50, ../sass/basic.scss */
select:focus, select:hover, textarea:focus, textarea:hover {
  color: #F08519;
}

/* line 54, ../sass/basic.scss */
.select-wrapper {
  position: relative;
}
/* line 56, ../sass/basic.scss */
.select-wrapper .iconify {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 1.5rem;
  color: #fff;
}
/* line 63, ../sass/basic.scss */
.select-wrapper .cus-select {
  width: 100%;
  padding: 10px 15px;
  font-size: 1.15rem;
  color: #fff !important;
  font-weight: bold;
  background-color: #F08519;
}

/* line 100, ../sass/basic.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 105, ../sass/basic.scss */
.custom-control .custom-control-label {
  cursor: pointer;
}
/* line 107, ../sass/basic.scss */
.custom-control .custom-control-label:before {
  background-color: #e9e9e9;
  border-color: #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 112, ../sass/basic.scss */
.custom-control .custom-control-label:before, .custom-control .custom-control-label:after {
  top: 0.2rem;
}
/* line 118, ../sass/basic.scss */
.custom-control .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #F08519;
  border-color: #F08519;
}
/* line 124, ../sass/basic.scss */
.custom-control .custom-control-description {
  padding-top: 3px;
}
/* line 128, ../sass/basic.scss */
.custom-control.custom-radio:not(:last-of-type) {
  margin-bottom: 8px;
}
/* line 131, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-label {
  padding-left: 8px;
}
/* line 136, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:after {
  background: none;
}

/* line 143, ../sass/basic.scss */
::-webkit-selection {
  color: #433734;
  background: #FFF462;
}

/* line 147, ../sass/basic.scss */
::-moz-selection {
  color: #433734;
  background: #FFF462;
}

/* line 151, ../sass/basic.scss */
::selection {
  color: #433734;
  background: #FFF462;
}

/* line 3, ../sass/header.scss */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
/* line 9, ../sass/header.scss */
#header .navbar {
  padding: 35px 0 20px;
}
/* line 11, ../sass/header.scss */
#header .navbar ul {
  list-style: none;
}
/* line 14, ../sass/header.scss */
#header .navbar ul.navbar-nav li.sub-menu-parent .sub-menu {
  display: none;
}
/* line 19, ../sass/header.scss */
#header .navbar .logo {
  display: block;
  z-index: 1001;
}
/* line 22, ../sass/header.scss */
#header .navbar .logo a {
  display: block;
}
/* line 24, ../sass/header.scss */
#header .navbar .logo a img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  height: 80px;
}
/* line 31, ../sass/header.scss */
#header.fixed {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
}
/* line 35, ../sass/header.scss */
#header.fixed .navbar {
  padding: 10px 0;
}
/* line 39, ../sass/header.scss */
#header.fixed .navbar .logo a img {
  height: 50px;
}
@media screen and (min-width: 992px) {
  /* line 49, ../sass/header.scss */
  #header .navbar .logo a img {
    height: 107px;
  }
  /* line 58, ../sass/header.scss */
  #header.fixed .navbar .logo a img {
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  /* line 71, ../sass/header.scss */
  #header .navbar .navbar-nav li.sub-menu-parent .iconify {
    display: none;
  }
  /* line 75, ../sass/header.scss */
  #header .navbar .navbar-nav li a:not(.icon) {
    position: relative;
    color: #433734;
    font-size: 18px;
  }
  /* line 79, ../sass/header.scss */
  #header .navbar .navbar-nav li a:not(.icon):after {
    content: "";
    display: block;
    border-bottom: solid 2px rgba(67, 55, 52, 0.75);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform 250ms ease-in-out;
    -moz-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    opacity: 0.75;
  }
  /* line 90, ../sass/header.scss */
  #header .navbar .navbar-nav li:hover a:after, #header .navbar .navbar-nav li:active a:after {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -moz-transform: transform-origin(0%, 50%);
    -o-transform: transform-origin(0%, 50%);
    -ms-transform: transform-origin(0%, 50%);
    -webkit-transform: transform-origin(0%, 50%);
    transform: transform-origin(0%, 50%);
  }
  /* line 97, ../sass/header.scss */
  #header .navbar .navbar-nav li.active a {
    color: #F08519;
    font-weight: bold;
  }
  /* line 100, ../sass/header.scss */
  #header .navbar .navbar-nav li.active a:after {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-bottom: #F08519 dashed 2px;
  }
  /* line 108, ../sass/header.scss */
  #header .navbar .sec-info {
    display: none;
  }
  /* line 113, ../sass/header.scss */
  #header.fixed .navbar-nav li a:not(.icon) {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  /* line 119, ../sass/header.scss */
  #header .navbar {
    padding: 20px 15px;
  }
  /* line 121, ../sass/header.scss */
  #header .navbar ul {
    position: relative;
    padding: 0;
    margin: 0;
  }
  /* line 126, ../sass/header.scss */
  #header .navbar ul.sec-info > li {
    width: 80%;
    margin-left: auto;
    padding: 10px 0;
    text-align: right;
  }
  /* line 131, ../sass/header.scss */
  #header .navbar ul.sec-info > li .soc {
    padding-bottom: 15px;
  }
  /* line 133, ../sass/header.scss */
  #header .navbar ul.sec-info > li .soc li {
    display: inline-block;
    padding: 0 8px;
  }
  /* line 136, ../sass/header.scss */
  #header .navbar ul.sec-info > li .soc li .iconify {
    font-size: 2rem;
    color: #fff;
  }
  /* line 143, ../sass/header.scss */
  #header .navbar ul.sec-info > li.links a {
    padding: 0 8px;
    color: #707070;
  }
  /* line 151, ../sass/header.scss */
  #header .navbar .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(215, 122, 28, 0.95);
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  /* line 165, ../sass/header.scss */
  #header .navbar .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
    z-index: 999;
  }
  /* line 170, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav {
    position: relative;
    padding-top: 76px;
    padding-bottom: 2rem;
  }
  /* line 174, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li {
    width: 100%;
    margin-left: auto;
    line-height: 40px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    text-align: right;
  }
  /* line 180, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a {
    display: inline-block;
    font-size: 1.15rem;
    color: #fff;
  }
  /* line 184, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a.nav-link {
    width: 100%;
    padding: 0.5rem 0.25rem;
    padding-right: 40px;
    font-weight: bolder;
    letter-spacing: 0.5rem;
  }
  /* line 191, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a.icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    color: #fff;
    text-align: center;
  }
  /* line 200, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a.icon .iconify {
    margin-top: 20px;
  }
  /* line 205, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  /* line 208, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent a.nav-link {
    width: calc(100% - 40px);
  }
  /* line 211, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  /* line 226, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li {
    width: 100%;
    border: none;
  }
  /* line 229, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li a {
    display: block;
    padding: 0.5rem;
  }
  /* line 233, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li:hover {
    background-color: #F08519;
    border-color: transparent;
  }
  /* line 236, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sub-menu-parent .sub-menu.active li:hover a {
    color: #fff;
  }
  /* line 244, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:hover a.nav-link {
    color: #f39e49;
  }
  /* line 249, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:first-of-type .nav-link {
    padding-top: 0;
  }
  /* line 257, ../sass/header.scss */
  #header.fixed {
    background-color: transparent;
    box-shadow: none;
  }
  /* line 260, ../sass/header.scss */
  #header.fixed .navbar {
    padding: 8px 15px;
  }
}

/* line 3, ../sass/footer.scss */
#footer {
  position: relative;
  padding: 0 15px 15px;
  font-size: 0.85rem;
  text-align: center;
}
/* line 8, ../sass/footer.scss */
#footer .info {
  position: relative;
  padding: 40px 0 30px;
  background-color: #333;
}
/* line 12, ../sass/footer.scss */
#footer .info .logo {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 35px;
}
/* line 16, ../sass/footer.scss */
#footer .info .logo img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  /* line 12, ../sass/footer.scss */
  #footer .info .logo {
    max-width: 220px;
  }
}
@media screen and (max-width: 767px) {
  /* line 12, ../sass/footer.scss */
  #footer .info .logo {
    display: none;
  }
}
/* line 27, ../sass/footer.scss */
#footer .info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 31, ../sass/footer.scss */
#footer .info ul li {
  display: inline-block;
}
/* line 33, ../sass/footer.scss */
#footer .info ul li a {
  padding: 0 10px;
  color: #CECECE;
}
/* line 36, ../sass/footer.scss */
#footer .info ul li a:hover, #footer .info ul li a:focus {
  color: #F08519;
}
/* line 41, ../sass/footer.scss */
#footer .info ul.webmap {
  margin-bottom: 35px;
}
/* line 45, ../sass/footer.scss */
#footer .info ul.soc li a {
  color: #F08519;
}
/* line 47, ../sass/footer.scss */
#footer .info ul.soc li a .iconify {
  font-size: 1.75rem;
}
/* line 50, ../sass/footer.scss */
#footer .info ul.soc li a:hover, #footer .info ul.soc li a:focus {
  opacity: 0.75;
}
/* line 57, ../sass/footer.scss */
#footer .copyright {
  padding: 15px 0;
  color: #999;
  background-color: #222;
}
/* line 61, ../sass/footer.scss */
#footer .copyright p {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  /* line 3, ../sass/footer.scss */
  #footer {
    display: none;
  }
}

/* line 3, ../sass/button.scss */
.btn {
  min-width: 150px;
  padding: 7px 18px;
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}
/* line 13, ../sass/button.scss */
.btn.btn-sm {
  min-width: 90px;
  padding: 5px 15px;
}
/* line 17, ../sass/button.scss */
.btn:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 27, ../sass/button.scss */
.btn:hover {
  text-decoration: none;
  outline: none;
}
/* line 31, ../sass/button.scss */
.btn:active {
  -moz-transform: scale(0.96);
  -o-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}

/* 主要：確認/執行鍵 */
/* line 36, ../sass/button.scss */
.btn-primary, .btn-primary.disabled {
  background-color: #F08519;
  border-color: #F08519;
}
/* line 39, ../sass/button.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary.disabled:hover, .btn-primary.disabled:active {
  background-color: #F9C158;
  border-color: #F9C158;
}

/* line 44, ../sass/button.scss */
.btn-primary.disabled {
  cursor: not-allowed;
}

/* 次要：取消/返回鍵 */
/* line 48, ../sass/button.scss */
.btn-light {
  background-color: rgba(124, 124, 124, 0.05);
  border-color: #e9e9e9;
  color: #7C7C7C;
}
/* line 52, ../sass/button.scss */
.btn-light:hover, .btn-light:active {
  background-color: rgba(124, 124, 124, 0.1);
  border-color: rgba(124, 124, 124, 0.1);
  color: #433734;
}

/* 次要：選項/執行鍵 */
/* line 59, ../sass/button.scss */
.btn-outline {
  position: relative;
  background-color: #fff;
  border-color: #F08519;
  color: #F08519;
  border-width: 3px;
  overflow: hidden;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 67, ../sass/button.scss */
.btn-outline:before {
  content: '';
  display: block;
  position: absolute;
  top: -3px;
  left: -42px;
  width: 42px;
  height: 42px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px;
  background-color: #F08519;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
/* line 80, ../sass/button.scss */
.btn-outline:hover, .btn-outline:active {
  background-color: transparent;
  border-color: #F08519;
  color: #fff;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
/* line 85, ../sass/button.scss */
.btn-outline:hover:before, .btn-outline:active:before {
  width: 150%;
}

/* line 90, ../sass/button.scss */
.btn-fb {
  background-color: #3b5998;
  color: #fff !important;
}
/* line 93, ../sass/button.scss */
.btn-fb:hover {
  background-color: #2C52A5;
}

/* line 5, ../sass/content.scss */
#page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (max-width: 767px) {
  /* line 5, ../sass/content.scss */
  #page {
    margin-bottom: 45px;
  }
}

/* line 13, ../sass/content.scss */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 333;
}

/* line 24, ../sass/content.scss */
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -250px;
  width: 250px;
  padding: 0.75rem;
  background: #fff;
  overflow-y: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 36, ../sass/content.scss */
#sidebar.active {
  right: 0;
}
/* line 39, ../sass/content.scss */
#sidebar #dismiss {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #999;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 46, ../sass/content.scss */
#sidebar #dismiss .iconify {
  font-size: 1.5rem;
}
/* line 49, ../sass/content.scss */
#sidebar #dismiss:hover {
  color: #F9C158;
}
/* line 53, ../sass/content.scss */
#sidebar .sidebar-header {
  padding: 25px 5px 15px;
  border-bottom: 1px solid rgba(124, 124, 124, 0.5);
}
/* line 56, ../sass/content.scss */
#sidebar .sidebar-header h4 {
  margin-bottom: 0;
}
/* line 60, ../sass/content.scss */
#sidebar .cart-row {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(124, 124, 124, 0.5);
}
/* line 66, ../sass/content.scss */
#sidebar .cart-row li {
  display: block;
  list-style: none;
  float: left;
}
/* line 70, ../sass/content.scss */
#sidebar .cart-row li.cart-item {
  width: auto;
}
/* line 72, ../sass/content.scss */
#sidebar .cart-row li.cart-item .pro-img {
  display: block;
  width: 50px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
/* line 79, ../sass/content.scss */
#sidebar .cart-row li.cart-item .pro-img:before {
  display: block;
  content: "";
  padding-bottom: 75%;
}
/* line 86, ../sass/content.scss */
#sidebar .cart-row li.description {
  width: 60%;
  padding-left: 10px;
}
/* line 89, ../sass/content.scss */
#sidebar .cart-row li.description .name {
  font-size: 0.95rem;
  color: #433734;
}
/* line 94, ../sass/content.scss */
#sidebar .cart-row li.description .amount:before {
  display: inline-block;
  content: "x";
  padding: 0 0.25rem;
  opacity: 0.8;
}
/* line 102, ../sass/content.scss */
#sidebar .cart-row li.description .hp-txt .hint {
  color: #F08519;
}
/* line 105, ../sass/content.scss */
#sidebar .cart-row li.description .hp-txt .price {
  font-weight: normal;
  font-size: 1rem;
}
/* line 111, ../sass/content.scss */
#sidebar .cart-row li.del {
  width: 10%;
  float: right;
  color: rgba(124, 124, 124, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 116, ../sass/content.scss */
#sidebar .cart-row li.del .iconify {
  font-size: 1rem;
  cursor: pointer;
}
/* line 120, ../sass/content.scss */
#sidebar .cart-row li.del:hover, #sidebar .cart-row li.del:active {
  color: rgba(124, 124, 124, 0.8);
}
/* line 126, ../sass/content.scss */
#sidebar .hint-check {
  margin-bottom: 15px;
  text-align: center;
  line-height: 1.6;
}
/* line 130, ../sass/content.scss */
#sidebar .hint-check .pieces {
  padding: 0 0.25rem;
}
/* line 132, ../sass/content.scss */
#sidebar .hint-check .pieces:after {
  display: inline-block;
  content: "件";
  padding-left: 0.15rem;
  opacity: 0.8;
  font-size: 0.9rem;
}

/* line 143, ../sass/content.scss */
.title {
  font-weight: bold;
  letter-spacing: 0.15rem;
}

@keyframes fadeInRight {
  0% {
    left: 20%;
  }
  100% {
    left: 0;
  }
}
/* line 157, ../sass/content.scss */
.img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 162, ../sass/content.scss */
.img:before {
  content: "";
  display: block;
  padding-bottom: 66.67%;
}

/* line 168, ../sass/content.scss */
section:not(#info) {
  padding: 30px 0 80px;
}
@media screen and (max-width: 767px) {
  /* line 168, ../sass/content.scss */
  section:not(#info) {
    padding: 30px 0 40px;
  }
}

/* line 174, ../sass/content.scss */
#main {
  position: relative;
}
/* line 176, ../sass/content.scss */
#main section {
  position: relative;
}
/* line 179, ../sass/content.scss */
#main .title-set {
  position: relative;
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 185, ../sass/content.scss */
#main .title-set .title {
  position: relative;
  padding-bottom: 15px;
  font-size: 2.25rem;
  letter-spacing: 0.5rem;
}
/* line 190, ../sass/content.scss */
#main .title-set .title:before {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FFF462;
}
/* line 199, ../sass/content.scss */
#main .title-set .title:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  width: 80px;
  height: 5px;
  background-color: #F9C158;
  text-align: center;
}
@media screen and (max-width: 575px) {
  /* line 179, ../sass/content.scss */
  #main .title-set {
    width: 225px;
  }
  /* line 214, ../sass/content.scss */
  #main .title-set .title {
    font-size: 2rem;
  }
}
/* line 220, ../sass/content.scss */
#main #info .img:before {
  padding-bottom: 30%;
}
/* line 223, ../sass/content.scss */
#main #info .info {
  background-color: #fff;
}
/* line 225, ../sass/content.scss */
#main #info .info .text {
  padding: 50px 35px;
  border-top: 5px solid #F08519;
  border-bottom: 5px solid #F08519;
}
/* line 230, ../sass/content.scss */
#main #info .info .text .store h6 {
  margin-bottom: 8px;
}
/* line 233, ../sass/content.scss */
#main #info .info .text .store ul {
  padding: 0;
  margin: 0;
}
/* line 236, ../sass/content.scss */
#main #info .info .text .store ul li {
  display: inline-block;
  padding-bottom: 8px;
  list-style: none;
}
/* line 240, ../sass/content.scss */
#main #info .info .text .store ul li span {
  position: absolute;
}
/* line 242, ../sass/content.scss */
#main #info .info .text .store ul li span .iconify {
  text-align: center;
  font-size: 1.25rem;
  color: #F08519;
}
/* line 248, ../sass/content.scss */
#main #info .info .text .store ul li p {
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  color: #433734;
}
/* line 253, ../sass/content.scss */
#main #info .info .text .store ul li p a {
  color: #433734;
  border-bottom: 1px dotted #F9C158;
}
/* line 258, ../sass/content.scss */
#main #info .info .text .store ul li:not(:last-of-type) {
  padding-right: 20px;
}
/* line 263, ../sass/content.scss */
#main #info .info .text .store:not(:last-of-type) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  /* line 270, ../sass/content.scss */
  #main #info .info {
    padding-left: 15px;
  }
}
@media screen and (max-width: 767px) {
  /* line 276, ../sass/content.scss */
  #main #info .info .text {
    padding: 20px 25px;
  }
}
/* line 282, ../sass/content.scss */
#main .fixed-bg {
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 15px);
  background: url(../images/banner/_81N1867.jpg) no-repeat 0 fixed;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}
/* line 292, ../sass/content.scss */
#main .fixed-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  background: linear-gradient(to right, white 59%, rgba(255, 255, 255, 0.59) 100%);
}
@media screen and (max-width: 767px) {
  /* line 282, ../sass/content.scss */
  #main .fixed-bg {
    display: none;
  }
}
/* line 307, ../sass/content.scss */
#main .breadcrumb {
  padding: 0;
  margin: 0;
  background: transparent;
}
/* line 312, ../sass/content.scss */
#main .breadcrumb li:before {
  padding-right: 0.15rem;
  color: #FECD5D !important;
}
/* line 316, ../sass/content.scss */
#main .breadcrumb li a {
  color: #7C7C7C;
  font-size: 0.85rem;
}
/* line 321, ../sass/content.scss */
#main .breadcrumb li.active a {
  color: #433734;
}
@media screen and (max-width: 767px) {
  /* line 307, ../sass/content.scss */
  #main .breadcrumb {
    padding: 0 8px;
  }
}
/* line 330, ../sass/content.scss */
#main .pagination {
  margin-top: 1.5rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 333, ../sass/content.scss */
#main .pagination li {
  counter-increment: pagination;
}
/* line 335, ../sass/content.scss */
#main .pagination li a {
  position: relative;
  color: #F08519;
  background-color: transparent;
  border: none;
  font-size: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 342, ../sass/content.scss */
#main .pagination li a:after {
  content: "";
  display: block;
  border-bottom: solid 2px;
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}
/* line 349, ../sass/content.scss */
#main .pagination li a.rotate {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 354, ../sass/content.scss */
#main .pagination li:hover a, #main .pagination li:active a {
  color: #F9C158;
}
/* line 356, ../sass/content.scss */
#main .pagination li:hover a:after, #main .pagination li:active a:after {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transform: transform-origin(0%, 50%);
  -o-transform: transform-origin(0%, 50%);
  -ms-transform: transform-origin(0%, 50%);
  -webkit-transform: transform-origin(0%, 50%);
  transform: transform-origin(0%, 50%);
}
/* line 363, ../sass/content.scss */
#main .pagination li.active a {
  color: #F9C158;
  font-weight: bold;
}
/* line 369, ../sass/content.scss */
#main .pagination li:first-child a, #main .pagination li:last-child a {
  display: inline-block;
}
/* line 373, ../sass/content.scss */
#main .pagination li:nth-child(2) {
  counter-reset: pagination;
}
/* line 376, ../sass/content.scss */
#main .pagination li:nth-last-child(2) {
  display: inline-block;
}
/* line 378, ../sass/content.scss */
#main .pagination li:nth-last-child(2) a {
  display: inline-block;
}
/* line 385, ../sass/content.scss */
#main .content img {
  width: 100%;
  height: auto;
}
/* line 390, ../sass/content.scss */
#main .more {
  color: #F08519;
  font-size: 0.85rem;
  border-bottom: 1px solid #F08519;
  text-transform: capitalize;
}
/* line 395, ../sass/content.scss */
#main .more .iconify {
  margin-left: 5px;
}
/* line 399, ../sass/content.scss */
#main .red {
  color: #E03845;
}
/* line 402, ../sass/content.scss */
#main .italic {
  font-style: italic;
}

/* line 408, ../sass/content.scss */
.slider .slide {
  text-align: center;
}
/* line 411, ../sass/content.scss */
.slider .slick-next, .slider .slick-prev {
  top: 102%;
  width: 50px;
  height: 50px;
  z-index: 59;
}
/* line 416, ../sass/content.scss */
.slider .slick-next:before, .slider .slick-prev:before {
  color: #F9C158;
}
/* line 420, ../sass/content.scss */
.slider .slick-next {
  right: -8px;
}
/* line 423, ../sass/content.scss */
.slider .slick-prev {
  left: calc(100% - 95px);
}
/* line 426, ../sass/content.scss */
.slider .slick-dots {
  text-align: left;
}
/* line 428, ../sass/content.scss */
.slider .slick-dots li {
  width: 25px;
  opacity: 0.3;
}
/* line 431, ../sass/content.scss */
.slider .slick-dots li button {
  width: 100%;
  height: 5px;
  padding: 0;
  background-color: #707070;
}
/* line 436, ../sass/content.scss */
.slider .slick-dots li button:before {
  display: none;
}
/* line 440, ../sass/content.scss */
.slider .slick-dots li.slick-active {
  opacity: 1;
}
/* line 442, ../sass/content.scss */
.slider .slick-dots li.slick-active button {
  background-color: #F9C158;
}

/* line 450, ../sass/content.scss */
.gotosp, .gototop {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  z-index: 89;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
}
/* line 461, ../sass/content.scss */
.gotosp a, .gototop a {
  display: block;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: #fff;
}
/* line 467, ../sass/content.scss */
.gotosp a .iconify, .gototop a .iconify {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 2rem;
}
/* line 473, ../sass/content.scss */
.gotosp a span, .gototop a span {
  display: block;
  font-size: 0.8rem;
}
/* line 479, ../sass/content.scss */
.gotosp:hover a, .gotosp:active a, .gototop:hover a, .gototop:active a {
  opacity: 1;
  text-decoration: none;
}

/* line 485, ../sass/content.scss */
.gotosp {
  bottom: 130px;
  background-color: #F08519;
}

/* line 489, ../sass/content.scss */
.gototop {
  bottom: 70px;
  opacity: 0;
  background-color: #F9C158;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 495, ../sass/content.scss */
.gototop.active {
  opacity: 0.75;
  visibility: visible;
  cursor: default;
}
/* line 500, ../sass/content.scss */
.gototop:hover, .gototop:active {
  opacity: 0.9;
}

/* line 504, ../sass/content.scss */
#mob-btn {
  display: none;
}
/* line 507, ../sass/content.scss */
#mob-btn .navbar li .menu {
  display: none;
  padding: 0;
  z-index: 99;
  cursor: pointer;
}
/* line 512, ../sass/content.scss */
#mob-btn .navbar li .menu .burger {
  position: relative;
  width: 20px;
  height: 29px;
  margin: 0 auto;
  z-index: 1001;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 520, ../sass/content.scss */
#mob-btn .navbar li .menu .burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #433734;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 531, ../sass/content.scss */
#mob-btn .navbar li .menu .burger span:nth-child(1) {
  top: 8px;
}
/* line 534, ../sass/content.scss */
#mob-btn .navbar li .menu .burger span:nth-child(2) {
  top: 14px;
}
/* line 537, ../sass/content.scss */
#mob-btn .navbar li .menu .burger span:nth-child(3) {
  top: 20px;
}
/* line 543, ../sass/content.scss */
#mob-btn .navbar li .menu .active span {
  background: #F08519;
}
/* line 545, ../sass/content.scss */
#mob-btn .navbar li .menu .active span:nth-child(1) {
  top: 18px;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 549, ../sass/content.scss */
#mob-btn .navbar li .menu .active span:nth-child(2) {
  opacity: 0;
  left: -200px;
}
/* line 553, ../sass/content.scss */
#mob-btn .navbar li .menu .active span:nth-child(3) {
  top: 18px;
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media screen and (min-width: 1680px) {
  /* line 563, ../sass/content.scss */
  .gotosp, .gototop {
    right: 69px;
  }
}
@media screen and (max-width: 767px) {
  /* line 568, ../sass/content.scss */
  .gotosp, .gototop {
    display: none;
  }

  /* line 571, ../sass/content.scss */
  #mob-btn {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    background-color: #F9C158;
    z-index: 101;
  }
  /* line 580, ../sass/content.scss */
  #mob-btn .navbar {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  /* line 584, ../sass/content.scss */
  #mob-btn .navbar li {
    width: 25%;
    height: 45px;
  }
  /* line 587, ../sass/content.scss */
  #mob-btn .navbar li a {
    position: relative;
    display: block;
    padding: 7px 15px 1px;
    font-size: 12px;
    text-align: center;
    color: #433734;
  }
  /* line 594, ../sass/content.scss */
  #mob-btn .navbar li a .iconify {
    display: block;
    margin: 0 auto;
    margin-bottom: 2px;
    font-size: 1.25rem;
  }
  /* line 600, ../sass/content.scss */
  #mob-btn .navbar li a .dot {
    position: absolute;
    right: 25px;
    top: 3px;
    width: 23px;
    height: 22px;
    padding: 3px;
    padding-left: 4px;
    font-size: 12px;
    color: #fff;
    background-color: #E03845;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  /* line 614, ../sass/content.scss */
  #mob-btn .navbar li .menu {
    display: block;
    text-align: center;
  }
  /* line 617, ../sass/content.scss */
  #mob-btn .navbar li .menu span {
    display: block;
    font-size: 12px;
    color: #433734;
  }
}
@media screen and (max-width: 576px) {
  /* line 632, ../sass/content.scss */
  #mob-btn .navbar li a .dot {
    right: 12px;
  }
}
/* line 640, ../sass/content.scss */
.price {
  position: relative;
  font-weight: bold;
  font-family: "Noto Serif TC", serif;
  color: #E03845;
  letter-spacing: 0;
}
/* line 646, ../sass/content.scss */
.price:before {
  display: inline-block;
  content: "$";
  padding-right: 2px;
  font-size: 14px;
}
/* line 653, ../sass/content.scss */
.price.discount:before {
  content: "- $";
}

/* line 659, ../sass/content.scss */
.hp-txt {
  font-size: 0.85rem;
  color: #7C7C7C;
}

/* line 663, ../sass/content.scss */
.elink {
  color: #f4c51c;
}

/* line 3, ../sass/cart-list.scss */
.pc-total {
  position: relative;
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
}
/* line 6, ../sass/cart-list.scss */
.pc-total .total-block {
  padding: 15px;
  line-height: 140%;
  background-color: #fdeff0;
  border: 2px solid #F9C158;
}
/* line 11, ../sass/cart-list.scss */
.pc-total .total-block ul {
  padding: 0;
  list-style: none;
}
/* line 14, ../sass/cart-list.scss */
.pc-total .total-block ul li {
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
}
/* line 18, ../sass/cart-list.scss */
.pc-total .total-block ul li > span {
  display: block;
  width: 50%;
  float: left;
  text-align: right;
}
/* line 23, ../sass/cart-list.scss */
.pc-total .total-block ul li > span.title {
  line-height: 1.4;
  font-size: 0.95rem;
}
/* line 27, ../sass/cart-list.scss */
.pc-total .total-block ul li > span.price:not(.red) {
  font-size: 1rem;
  color: #D77A1C;
}
/* line 31, ../sass/cart-list.scss */
.pc-total .total-block ul li > span.total {
  font-weight: bold;
}
/* line 34, ../sass/cart-list.scss */
.pc-total .total-block ul li > span.red {
  font-size: 1.15rem;
}
/* line 41, ../sass/cart-list.scss */
.pc-total.fixed {
  position: fixed;
  bottom: 30px;
}
@media screen and (min-width: 992px) {
  /* line 49, ../sass/cart-list.scss */
  .pc-total .total-block ul.act-btns li a.btn {
    width: 100%;
  }
  /* line 53, ../sass/cart-list.scss */
  .pc-total .total-block ul.act-btns li:first-of-type a.btn {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 991px) {
  /* line 63, ../sass/cart-list.scss */
  .pc-total .total-block .act-btns {
    display: inline-block;
    width: 100%;
  }
  /* line 66, ../sass/cart-list.scss */
  .pc-total .total-block .act-btns li {
    display: block;
    float: left;
  }
  /* line 69, ../sass/cart-list.scss */
  .pc-total .total-block .act-btns li a {
    display: block;
    width: 95%;
    margin: 0;
  }
  /* line 74, ../sass/cart-list.scss */
  .pc-total .total-block .act-btns li:first-of-type {
    width: 30%;
    margin: 0;
  }
  /* line 78, ../sass/cart-list.scss */
  .pc-total .total-block .act-btns li:last-of-type {
    width: 70%;
  }
  /* line 80, ../sass/cart-list.scss */
  .pc-total .total-block .act-btns li:last-of-type a {
    margin-left: auto;
  }
}

/* line 91, ../sass/cart-list.scss */
#cart-list .cart-title {
  padding-bottom: 8px;
  font-size: 0.95rem;
}
@media (max-width: 1024px) {
  /* line 96, ../sass/cart-list.scss */
  #cart-list .cart-title .col-md-1 span {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 91, ../sass/cart-list.scss */
  #cart-list .cart-title {
    display: none;
  }
}
/* line 106, ../sass/cart-list.scss */
#cart-list .cart-content > .row {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
/* line 109, ../sass/cart-list.scss */
#cart-list .cart-content > .row:first-of-type {
  border-top: 1px solid #ddd;
}
/* line 112, ../sass/cart-list.scss */
#cart-list .cart-content > .row:last-of-type {
  margin-bottom: 15px;
}
/* line 115, ../sass/cart-list.scss */
#cart-list .cart-content > .row:not(#cart-list .cart-content > .row:last-of-type) {
  border-bottom: none;
}
/* line 119, ../sass/cart-list.scss */
#cart-list .cart-content .pro-img {
  width: 64px;
  float: left;
  overflow: hidden;
}
/* line 123, ../sass/cart-list.scss */
#cart-list .cart-content .pro-img.img:before {
  padding-bottom: 100%;
}
/* line 127, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title {
  padding: 0;
  margin-left: 75px;
  margin-bottom: 5px;
}
/* line 131, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title li {
  display: block;
  list-style: none;
  word-wrap: break-word;
  font-size: 0.9rem;
}
/* line 136, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title li.title {
  font-size: 1rem;
  color: #433734;
}
/* line 140, ../sass/cart-list.scss */
#cart-list .cart-content .pro-title li .hint {
  color: #F08519;
}
/* line 145, ../sass/cart-list.scss */
#cart-list .cart-content .pro-price, #cart-list .cart-content .sub-total {
  text-align: right;
}
/* line 148, ../sass/cart-list.scss */
#cart-list .cart-content .remove {
  display: block;
  cursor: pointer;
}
/* line 151, ../sass/cart-list.scss */
#cart-list .cart-content .remove .iconify {
  color: rgba(124, 124, 124, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 154, ../sass/cart-list.scss */
#cart-list .cart-content .remove .iconify:hover, #cart-list .cart-content .remove .iconify:active {
  color: rgba(124, 124, 124, 0.8);
}
/* line 159, ../sass/cart-list.scss */
#cart-list .cart-content .price, #cart-list .cart-content .iconify {
  color: #7C7C7C;
}
/* line 162, ../sass/cart-list.scss */
#cart-list .cart-content .ps-text {
  margin: 10px 0;
}
/* line 164, ../sass/cart-list.scss */
#cart-list .cart-content .ps-text a {
  color: #F08519;
  border-bottom: 1px dotted #F08519;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  /* line 171, ../sass/cart-list.scss */
  #cart-list .cart-content .act-btn {
    text-align: center;
  }
}
@media (max-width: 767px) {
  /* line 177, ../sass/cart-list.scss */
  #cart-list .cart-content > .row:first-child {
    padding-top: 0;
    border-top: none;
  }
  /* line 182, ../sass/cart-list.scss */
  #cart-list .cart-content .pro-price {
    display: none;
  }
  /* line 186, ../sass/cart-list.scss */
  #cart-list .cart-content .amount:before {
    display: inline-block;
    content: "x";
    padding: 0 0.25rem;
    opacity: 0.8;
  }
  /* line 194, ../sass/cart-list.scss */
  #cart-list .cart-content .sub-total .amount {
    display: block;
  }
  /* line 198, ../sass/cart-list.scss */
  #cart-list .cart-content .sub-total .price:before {
    display: inline-block;
    content: "小計 $";
  }
  /* line 204, ../sass/cart-list.scss */
  #cart-list .cart-content .act-btn {
    text-align: right;
  }
  /* line 207, ../sass/cart-list.scss */
  #cart-list .cart-content .act-btn .remove:after {
    display: inline-block;
    content: "移除";
    font-size: 13px;
    color: rgba(124, 124, 124, 0.5);
  }
}
@media screen and (max-width: 320px) {
  /* line 217, ../sass/cart-list.scss */
  #cart-list .cart-content .pro-img {
    width: 50px;
    height: 50px;
  }
  /* line 221, ../sass/cart-list.scss */
  #cart-list .cart-content .pro-title {
    margin-left: 64px;
  }
}
/* line 226, ../sass/cart-list.scss */
#cart-list .price {
  font-weight: normal;
  color: #433734;
}
/* line 229, ../sass/cart-list.scss */
#cart-list .price.red {
  font-weight: bold;
}

/* line 235, ../sass/cart-list.scss */
#check-cart .card-header {
  cursor: pointer;
}
/* line 237, ../sass/cart-list.scss */
#check-cart .card-header h6, #check-cart .card-header p {
  margin-bottom: 0;
  text-align: center;
}
/* line 241, ../sass/cart-list.scss */
#check-cart .card-header h6 {
  margin-bottom: 15px;
}
@media screen and (max-width: 576px) {
  /* line 241, ../sass/cart-list.scss */
  #check-cart .card-header h6 {
    margin-bottom: 8px;
  }
}
/* line 248, ../sass/cart-list.scss */
#check-cart .card-header p .pieces {
  padding: 0 0.25rem;
}
/* line 250, ../sass/cart-list.scss */
#check-cart .card-header p .pieces:after {
  display: inline-block;
  content: "件";
  padding-left: 0.15rem;
  opacity: 0.8;
  font-size: 0.9rem;
}
/* line 260, ../sass/cart-list.scss */
#check-cart .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
/* line 262, ../sass/cart-list.scss */
#check-cart .card-body .pro-title {
  cursor: auto;
}
/* line 266, ../sass/cart-list.scss */
#check-cart .iconify {
  margin-left: 10px;
}

/* line 3, ../sass/act-btns.scss */
.act-btns {
  padding: 0;
  margin: 0;
}
/* line 6, ../sass/act-btns.scss */
.act-btns li {
  display: inline-block;
  list-style: none;
}
/* line 9, ../sass/act-btns.scss */
.act-btns li:first-of-type {
  margin-right: 15px;
}

/* line 4, ../sass/auform.scss */
.au-form input, .au-form select {
  padding: 5px 12px;
}
/* line 7, ../sass/auform.scss */
.au-form input {
  width: 100%;
  height: calc(2.25rem + 2px);
  border: 1px solid #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #433734;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 15, ../sass/auform.scss */
.au-form input:focus, .au-form input:hover {
  color: #F08519;
}
/* line 19, ../sass/auform.scss */
.au-form textarea {
  height: 180px;
  padding: 10px 12px;
  resize: none;
}
/* line 24, ../sass/auform.scss */
.au-form .help-block {
  display: block !important;
  margin: 0;
}
/* line 27, ../sass/auform.scss */
.au-form .help-block ul {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 30, ../sass/auform.scss */
.au-form .help-block ul li {
  font-size: 13px;
  line-height: 1.2;
  color: #E03845;
}

/* line 40, ../sass/auform.scss */
form .au-form label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #7C7C7C;
}
/* line 46, ../sass/auform.scss */
form .form-group {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 49, ../sass/auform.scss */
form .form-group:focus label, form .form-group:hover label {
  color: #F08519;
}
/* line 52, ../sass/auform.scss */
form .form-group:focus input, form .form-group:focus select, form .form-group:focus textarea, form .form-group:hover input, form .form-group:hover select, form .form-group:hover textarea {
  border-color: #F08519;
}

/* line 3, ../sass/qty.scss */
.quantity {
  display: inline-block;
  position: relative;
}
/* line 6, ../sass/qty.scss */
.quantity input[type="number"] {
  -moz-appearance: textfield;
  border: 1px solid #e5e5e5;
  width: 120px;
  height: 40px;
  text-align: center;
  padding: 0 45px;
  color: #433734;
}
/* line 14, ../sass/qty.scss */
.quantity input[type="number"]::-webkit-inner-spin-button, .quantity input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* line 18, ../sass/qty.scss */
.quantity span {
  width: 40px;
  height: 40px;
  position: absolute;
  font-size: 15px;
  color: #ccc;
  top: 0;
  margin-right: 0 !important;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 28, ../sass/qty.scss */
.quantity span .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
/* line 35, ../sass/qty.scss */
.quantity span.add {
  right: 0;
}
/* line 38, ../sass/qty.scss */
.quantity span.sub {
  left: 0;
}
/* line 41, ../sass/qty.scss */
.quantity span:hover {
  color: #433734;
}
@media screen and (max-width: 576px) {
  /* line 48, ../sass/qty.scss */
  .quantity:not(.mod) input[type="number"] {
    width: 90px;
    height: 30px;
    padding: 0 30px;
  }
  /* line 53, ../sass/qty.scss */
  .quantity:not(.mod) span {
    width: 30px;
    height: 30px;
  }
  /* line 56, ../sass/qty.scss */
  .quantity:not(.mod) span .icon {
    top: 40%;
    left: 40%;
  }
}

/* line 14, ../sass/member.scss */
#header {
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  /* line 19, ../sass/member.scss */
  #header .navbar .navbar-nav li a.nav-link {
    font-size: 1rem;
  }
  /* line 25, ../sass/member.scss */
  #header .navbar .navbar-nav.menus li a {
    font-size: 1.05rem;
    color: #51433f;
  }
  /* line 28, ../sass/member.scss */
  #header .navbar .navbar-nav.menus li a:after {
    border-bottom: solid 1px;
  }
  /* line 33, ../sass/member.scss */
  #header .navbar .navbar-nav.menus li.active a {
    color: #F08519;
  }
  /* line 35, ../sass/member.scss */
  #header .navbar .navbar-nav.menus li.active a:after {
    border-bottom: dashed 1px #F08519;
  }
  /* line 46, ../sass/member.scss */
  #header.fixed .navbar-nav li a.nav-link {
    font-size: 1rem;
  }
  /* line 51, ../sass/member.scss */
  #header.fixed .navbar-nav.menus li a.nav-link {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  /* line 59, ../sass/member.scss */
  #header .navbar .navbar-nav.menus {
    display: none;
  }
}

/* line 65, ../sass/member.scss */
#main .card {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 67, ../sass/member.scss */
#main .card .card-header {
  font-size: 1.125rem;
  font-weight: bold;
  color: #7C7C7C;
}

/* line 77, ../sass/member.scss */
.member .admin form .au-form label, .login-reg .modal-form form .au-form label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #7C7C7C;
}
/* line 83, ../sass/member.scss */
.member .admin form .form-group, .login-reg .modal-form form .form-group {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 86, ../sass/member.scss */
.member .admin form .form-group:focus label, .member .admin form .form-group:hover label, .login-reg .modal-form form .form-group:focus label, .login-reg .modal-form form .form-group:hover label {
  color: #F08519;
}
/* line 89, ../sass/member.scss */
.member .admin form .form-group:focus input, .member .admin form .form-group:focus select, .member .admin form .form-group:hover input, .member .admin form .form-group:hover select, .login-reg .modal-form form .form-group:focus input, .login-reg .modal-form form .form-group:focus select, .login-reg .modal-form form .form-group:hover input, .login-reg .modal-form form .form-group:hover select {
  border-color: #F08519;
}

/* line 99, ../sass/member.scss */
.member form .more {
  border-bottom: 1px dotted #F08519;
}
/* line 103, ../sass/member.scss */
.member ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 109, ../sass/member.scss */
.member #order #list-title, .member #order .list {
  background-color: #fff;
}
/* line 111, ../sass/member.scss */
.member #order #list-title .img:before, .member #order .list .img:before {
  padding-bottom: 100%;
}
/* line 115, ../sass/member.scss */
.member #order #list-title {
  padding: 10px;
  font-weight: bold;
  border-top: 2px solid #F9C158;
  border-bottom: 2px solid #F9C158;
}
/* line 121, ../sass/member.scss */
.member #order .list {
  padding: 15px;
  border-bottom: 1px solid #afafaf;
}
/* line 125, ../sass/member.scss */
.member #order .list .description ul {
  display: inline-block;
  width: 100%;
}
/* line 129, ../sass/member.scss */
.member #order .list .description .order_no {
  color: #F08519;
  word-break: break-all;
  border-bottom: 1px dotted #F08519;
}
/* line 134, ../sass/member.scss */
.member #order .list .description p {
  margin-bottom: 0;
}
/* line 136, ../sass/member.scss */
.member #order .list .description p.price {
  margin-bottom: 8px;
  font-size: 1.5rem;
}
/* line 141, ../sass/member.scss */
.member #order .list .description span.ing {
  color: #F08519;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  /* line 150, ../sass/member.scss */
  .member #order .list .description ul li:last-of-type {
    margin-top: 18px;
  }
}
@media screen and (min-width: 992px) {
  /* line 158, ../sass/member.scss */
  .member #order .list .img {
    width: 130px;
  }
}
@media screen and (max-width: 767px) {
  /* line 164, ../sass/member.scss */
  .member #order #list-title {
    display: none;
  }
  /* line 168, ../sass/member.scss */
  .member #order .list:first-of-type {
    border-top: 1px solid #7C7C7C;
  }
  /* line 171, ../sass/member.scss */
  .member #order .list ul li {
    display: block;
    float: left;
    width: 50%;
  }
  /* line 175, ../sass/member.scss */
  .member #order .list ul li:last-of-type {
    text-align: right;
  }
  /* line 179, ../sass/member.scss */
  .member #order .list p.hp-txt {
    margin-bottom: 10px;
  }
  /* line 182, ../sass/member.scss */
  .member #order .list .col-6 {
    text-align: right;
  }
  /* line 185, ../sass/member.scss */
  .member #order .list .done {
    padding-top: 8px;
    text-align: right;
    color: #433734;
  }
}
@media screen and (max-width: 360px) {
  /* line 194, ../sass/member.scss */
  .member #order .list ul li {
    width: 60%;
  }
  /* line 196, ../sass/member.scss */
  .member #order .list ul li:last-of-type {
    width: 40%;
    padding-left: 3px;
  }
}
/* line 206, ../sass/member.scss */
.member #order-de .card {
  margin-bottom: 1.5rem;
}
/* line 208, ../sass/member.scss */
.member #order-de .card ul.info {
  padding: 10px;
}
/* line 210, ../sass/member.scss */
.member #order-de .card ul.info li {
  padding: 5px;
}
/* line 213, ../sass/member.scss */
.member #order-de .card ul.info li > p.order_no {
  color: #F08519;
  font-weight: bold;
  font-size: 1.05rem;
  word-break: break-all;
}
/* line 221, ../sass/member.scss */
.member #order-de .card ul.info li > p.invoice span:not(:first-of-type):before {
  display: inline-block;
  content: "/";
  padding-right: 4px;
  color: #e9e9e9;
}
@media (max-width: 576px) {
  /* line 231, ../sass/member.scss */
  .member #order-de .card ul.info li > p.invoice span:not(:first-of-type) {
    display: block;
  }
  /* line 233, ../sass/member.scss */
  .member #order-de .card ul.info li > p.invoice span:not(:first-of-type):before {
    display: none;
  }
}
/* line 241, ../sass/member.scss */
.member #order-de .card ul.info li.sp > span {
  position: relative;
}
/* line 244, ../sass/member.scss */
.member #order-de .card ul.info li.sp > p {
  display: block;
  padding-left: 0;
  margin-top: 5px;
}
/* line 254, ../sass/member.scss */
.member #order-de .card.order-info ul li > span, .member #order-de .card.pay-info ul li > span {
  position: absolute;
  font-weight: bold;
  color: #433734;
}
/* line 259, ../sass/member.scss */
.member #order-de .card.order-info ul li > p, .member #order-de .card.pay-info ul li > p {
  position: relative;
  padding-left: 90px;
  margin-bottom: 0;
}
/* line 266, ../sass/member.scss */
.member #order-de .card.order-info {
  font-size: 0.85rem;
}
/* line 268, ../sass/member.scss */
.member #order-de .card.order-info hr {
  border-color: #e9e9e9;
  border-width: 1px;
}
/* line 273, ../sass/member.scss */
.member #order-de .card.order-info .card-footer a, .member #order-de .card.order-info .card-footer span {
  display: block;
}
/* line 276, ../sass/member.scss */
.member #order-de .card.order-info .card-footer a {
  text-align: center;
  color: #707070;
}
/* line 279, ../sass/member.scss */
.member #order-de .card.order-info .card-footer a .iconify {
  margin-bottom: 5px;
  font-size: 1.5rem;
}
/* line 283, ../sass/member.scss */
.member #order-de .card.order-info .card-footer a.contacts {
  color: #F08519;
}
/* line 286, ../sass/member.scss */
.member #order-de .card.order-info .card-footer a:hover, .member #order-de .card.order-info .card-footer a:active {
  opacity: 0.75;
}
/* line 294, ../sass/member.scss */
.member #order-de .card.order-de .card-header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 298, ../sass/member.scss */
.member #order-de .card.order-de .card-header ul li {
  display: block;
  width: 50%;
  float: left;
}
@media screen and (max-width: 991px) {
  /* line 307, ../sass/member.scss */
  .member #order-de .card img.img-fluid {
    display: block;
    margin: 10px auto;
  }
}
@media screen and (max-width: 991px) {
  /* line 314, ../sass/member.scss */
  .member #order-de .card ul.info li.sp2 > span {
    position: absolute;
  }
  /* line 317, ../sass/member.scss */
  .member #order-de .card ul.info li.sp2 > p {
    display: inline-block;
    padding-left: 90px;
    margin-top: 0;
  }
}
/* line 326, ../sass/member.scss */
.member #order-de .order-lg-first .card:last-of-type {
  margin-bottom: 0;
}
/* line 331, ../sass/member.scss */
.member #order-de #act-btns a.more {
  color: #7C7C7C;
  border-bottom: 1px dotted;
  font-size: 1rem;
}
/* line 335, ../sass/member.scss */
.member #order-de #act-btns a.more .iconify {
  margin-right: 5px;
  padding-bottom: 3px;
}
/* line 339, ../sass/member.scss */
.member #order-de #act-btns a.more:hover, .member #order-de #act-btns a.more:active {
  color: #F9C158;
}
/* line 349, ../sass/member.scss */
.member .admin form#admin-form .status span {
  color: #F08519;
}
/* line 358, ../sass/member.scss */
.member .admin form#address-form .card .card-footer .row:not(:last-of-type) {
  margin-bottom: 15px;
}
/* line 361, ../sass/member.scss */
.member .admin form#address-form .card .card-footer .row .act-btns {
  font-size: 0.9rem;
}
/* line 365, ../sass/member.scss */
.member .admin form#address-form .card .card-footer .row .act-btns li a {
  color: #F9C158;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 369, ../sass/member.scss */
.member .admin form#address-form .card .card-footer .row .act-btns li a:hover, .member .admin form#address-form .card .card-footer .row .act-btns li a:active {
  color: #F08519;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  /* line 361, ../sass/member.scss */
  .member .admin form#address-form .card .card-footer .row .act-btns {
    text-align: right;
  }
}
/* line 387, ../sass/member.scss */
.member .coupon .table {
  margin-bottom: 0;
  background-color: #fff;
}
/* line 391, ../sass/member.scss */
.member .coupon .table tr:hover {
  background-color: rgba(255, 244, 98, 0.1);
}
/* line 394, ../sass/member.scss */
.member .coupon .table tr th, .member .coupon .table tr td {
  text-align: center;
}
/* line 397, ../sass/member.scss */
.member .coupon .table tr td {
  padding: 0.5rem 0.75rem;
  vertical-align: middle;
}
/* line 400, ../sass/member.scss */
.member .coupon .table tr td ul {
  padding: 0;
  margin: 0;
  text-align: left;
}
/* line 404, ../sass/member.scss */
.member .coupon .table tr td ul li {
  list-style: none;
}
/* line 406, ../sass/member.scss */
.member .coupon .table tr td ul li:not(:last-of-type) {
  margin-bottom: 3px;
}
/* line 412, ../sass/member.scss */
.member .coupon .table tr td span.title {
  margin-bottom: 10px;
  font-weight: bold;
  color: #433734;
}
/* line 419, ../sass/member.scss */
.member .coupon .table tr.tr-only-hide {
  background-color: rgba(233, 233, 233, 0.5);
}
/* line 424, ../sass/member.scss */
.member .coupon .table tr:not(.yet) td .price {
  font-weight: normal;
  font-size: 1rem;
  color: #433734;
}
/* line 434, ../sass/member.scss */
.member .coupon .table tr.yet td span.title {
  font-size: 1.05rem;
  color: #F08519;
}
/* line 439, ../sass/member.scss */
.member .coupon .table tr.yet td span.hint {
  color: #F9C158;
}
@media screen and (max-width: 768px) {
  /* line 387, ../sass/member.scss */
  .member .coupon .table {
    min-width: 100%;
  }
  /* line 448, ../sass/member.scss */
  .member .coupon .table tr {
    display: block;
    padding: 0.5rem 0.25rem;
    border-bottom: 1px solid #e9e9e9;
  }
  /* line 452, ../sass/member.scss */
  .member .coupon .table tr:last-child {
    border: none;
  }
  /* line 455, ../sass/member.scss */
  .member .coupon .table tr.tr-only-hide {
    display: none !important;
  }
  /* line 458, ../sass/member.scss */
  .member .coupon .table tr td {
    width: 100%;
    display: block;
    padding: 0.25rem 0.5rem;
    border: 0 !important;
    text-align: left !important;
    overflow: hidden;
    font-size: 0.95rem;
  }
  /* line 466, ../sass/member.scss */
  .member .coupon .table tr td:before {
    display: inline-block;
    content: attr(data-th) " : ";
    margin-right: 10px;
    text-transform: uppercase;
  }
  /* line 473, ../sass/member.scss */
  .member .coupon .table tr td.content:before {
    display: none;
  }
}

/* line 487, ../sass/member.scss */
.product .list-title > .row > div:nth-of-type(2), .product .list-title > .row > div:nth-of-type(3), .product .list > .row > div:nth-of-type(2), .product .list > .row > div:nth-of-type(3) {
  text-align: center;
}
/* line 492, ../sass/member.scss */
.product .list-title {
  padding: 10px 0;
  border-top: 2px solid #F9C158;
  border-bottom: 2px solid #F9C158;
}
/* line 497, ../sass/member.scss */
.product .list {
  padding: 20px 0;
  border-bottom: 1px solid #FFF462;
}
/* line 500, ../sass/member.scss */
.product .list .pro-img {
  width: 90px;
  height: 90px;
  float: left;
  overflow: hidden;
}
/* line 505, ../sass/member.scss */
.product .list .pro-img.img:before {
  padding-bottom: 100%;
}
/* line 510, ../sass/member.scss */
.product .list .info .title {
  margin-bottom: 3px;
  font-size: 1.125rem;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 516, ../sass/member.scss */
.product .list .info span {
  display: block;
  font-size: 0.95rem;
  color: #707070;
}
/* line 520, ../sass/member.scss */
.product .list .info span.flavor {
  position: relative;
  color: #F08519;
  font-weight: normal;
}
/* line 528, ../sass/member.scss */
.product .list .act-btn .btn {
  padding: 5px 10px;
  min-width: 100px;
}
/* line 532, ../sass/member.scss */
.product .list .act-btn .remove {
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  /* line 537, ../sass/member.scss */
  .product .list > .row {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  /* line 540, ../sass/member.scss */
  .product .list .info {
    margin-left: 105px;
  }
  /* line 543, ../sass/member.scss */
  .product .list .act-btn {
    text-align: right;
  }
}
@media screen and (max-width: 767px) {
  /* line 548, ../sass/member.scss */
  .product .list:first-of-type {
    border-top: 1px solid #FFF462;
  }
  /* line 551, ../sass/member.scss */
  .product .list .pro-img {
    width: 64px;
    height: 64px;
  }
  /* line 555, ../sass/member.scss */
  .product .list .info {
    margin-left: 75px;
  }
  /* line 558, ../sass/member.scss */
  .product .list .qty, .product .list .act-btn {
    text-align: right;
  }
  /* line 561, ../sass/member.scss */
  .product .list .act-btn {
    margin-top: 20px;
  }
  /* line 563, ../sass/member.scss */
  .product .list .act-btn .btn {
    min-width: 80px;
  }
}
@media screen and (max-width: 576px) {
  /* line 570, ../sass/member.scss */
  .product .list .info .title {
    font-size: 1rem;
  }
  /* line 575, ../sass/member.scss */
  .product .list .act-btn .remove {
    display: block;
    margin-top: 10px;
    text-align: right;
    padding-left: 0;
  }
}
@media screen and (max-width: 360px) {
  /* line 584, ../sass/member.scss */
  .product .list .pro-img {
    margin-right: 15px;
  }
  /* line 587, ../sass/member.scss */
  .product .list .info {
    display: block;
    margin-left: 0;
  }
}
